.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.login-page-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #1b4552;
 /* min-height: 100vh;
 max-height: 100vh;
 min-width: 100vw; */
 
}
 
 
.sub-container{
  /* min-height: 650px;
  min-width: 60vw; */
  background-color: #d7e3fc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
 
.login-img{
   width: 100%;
    object-fit: cover;
   
}
 
.img-div{
  max-width: 30vw;
  min-width: 50%;
 
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

 .desc{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
 }
 