.icon-style{
    width:100px;
    font-size: 40px;
}

.file-item{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-name{
    color: rgb(26, 25, 25);
    font-size: 12px;
    border: none;
    outline: none;
    align-self: center;
    background-color: transparent;
}


.file-list-item{
    list-style-type: none;
    word-wrap: break-word;
}

.file-list-item:hover{
    border-radius: 5px;
    transform: scale(1.1);
    padding: 10px;
}


