.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.add-user-bar{
    padding: 10px 30px;
}

.input-box{
    height: 45px;
    padding: 8px;
    border: 1px solid #8a99aa;
    border-radius: 5px;
}
.invite-btn{
    background: linear-gradient(135deg, #12063b, #09555c);
    padding: 8px;
    border: none;
    border-radius: 4px;
    height: 45px;
    color: aliceblue;
}

.close-button{
    background-color: #d74a49;
    padding: 8px;
    border: none;

    border-radius: 4px;
    height: 45px;
    color: aliceblue;
}

/* .modal-box{
    background-color: #fbf2c4;
} */

.modal-content{
    background-color: #ffffff;

}
.form-label{
    font-size: 18px;
    font-weight: 600;
    color: #183e4b;
}