.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.add-user-bar{
    padding: 10px 30px;
}
.invite-btn{
    background: linear-gradient(135deg, #12063b, #09555c);
    padding: 8px;
    border-radius: 4px;
    color: aliceblue;
}