.drop-down-ele{
  width: 200px;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 5px 0px;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto; /* Ensure the dropdown arrow is visible */
}

.modal-content { 
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #d7e3fc;
}

.custom-btn{
  background: linear-gradient(135deg, #12063b, #09555c);
  padding: 8px;
  border: none;
  border-radius: 4px;
  height: 45px;
  color: aliceblue;
}


*{
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}

.cursor-pointer{
  cursor: pointer;
}